.Cursor {
  position: fixed;
  mix-blend-mode: difference;
  z-index: 6;
  text-transform: uppercase;
  pointer-events: none;
  padding: 20px;
  transition: opacity 0.5s cubic-bezier(0.65, 0, 0.35, 1);

  p {
    position: relative;
    font-size: 0.9vw;

    transition: opacity 0.3s;
    &::after {
      content: "open";
      position: absolute;
      bottom: 100%;
      left: 0;
    }
  }
}

// @media (max-width: 1024px) {
//   .Cursor {
//     display: none;
//   }
// }
