#Projet {
  height: 100dvh;
  .Projet {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    &:hover {
      cursor: pointer;
    }

    .index {
      position: absolute;
      left: 52vw;
      top: 2.2vw;
      display: flex;
      gap: 0.3vw;

      span {
        display: inline-block;
        font-size: 1vw;
        text-transform: uppercase;

        &:nth-child(2) {
          color: $WhiteOpacity;
        }
      }
    }

    .description {
      position: absolute;
      top: 50%;
      left: 52vw;
      transform: translateY(-50%);
      width: 46%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
    }

    .titleContainer {
      .title {
        display: flex;
        align-items: center;
        position: relative;

        .numberContainer {
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
        }

        .siteBtn {
          display: flex;
          flex-direction: column;
          font-size: 1vw;
          align-items: start;
          text-transform: uppercase;

          span {
            display: block;
          }

          svg {
            transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
            will-change: transform;
          }

          &:hover {
            svg {
              transform: translate(335%);
            }
          }
        }
      }
    }
  }

  .right {
    flex-direction: row-reverse;

    .title {
      flex-direction: row-reverse;

      .numberContainer {
        left: auto !important;
        right: 0;
      }
    }

    .description {
      left: 2vw;
      transform: translateY(-50%);
      flex-direction: row;
    }

    .index {
      left: 43.3vw;
    }
  }
}

@media (max-width: 1024px) {
  #Projet {
    .Projet {
      display: flex;
      flex-direction: column-reverse;

      .index {
        top: 35px;
        left: 50%;
        transform: translateX(-50%);
        span {
          font-size: 16px;
        }
      }

      .titleContainer {
        .title {
          .siteBtn {
            font-size: 2vw;
          }

          .numberContainer {
            left: auto !important;
            right: 0;
          }
        }
      }

      .description {
        width: 100%;
        top: 45vh;
        left: 0;
        padding: 0 5vw;
        p {
          font-size: 2.5vw;
        }
      }
    }
  }
}

@media (max-width: 440px) {
  #Projet {
    .Projet {
      .titleContainer {
        .title {
          gap: 0;
          .siteBtn {
            font-size: 12px;
          }
        }
      }

      .description {
        p {
          font-size: 18px;
        }
      }
    }
  }
}
