#Projet {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  .Projet {
    &:hover {
      cursor: auto;
    }

    .description {
      position: absolute;
      top: 50%;
      left: 52vw;
      transform: translateY(-50%);
      width: 46%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
    }

    .titleContainer {
      .siteBtn {
        display: flex;
        flex-direction: column;
        font-size: 1vw;
        align-items: start;
        text-transform: uppercase;

        svg {
          transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          will-change: transform;
        }

        &:hover {
          svg {
            transform: translate(335%);
          }
        }
      }
    }
  }

  .right {
    flex-direction: row-reverse;

    .titleContainer {
      flex-direction: row-reverse;
    }

    .description {
      left: 2vw;
      transform: translateY(-50%);
      flex-direction: row;
    }
  }
}
