#Projet {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100vw;
  //   height: 100vh;
  .Projet {
    &:hover {
      cursor: auto;
    }

    .index {
      position: absolute;
      left: 52vw;
      top: 2.2vw;

      span {
        font-size: 1vw;
        text-transform: uppercase;

        &:nth-child(2) {
          opacity: 0.5;
        }
      }
    }

    .description {
      position: absolute;
      top: 50%;
      left: 52vw;
      transform: translateY(-50%);
      width: 46%;
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
    }

    .titleContainer {
      .title {
        display: flex;
        align-items: end;
        .siteBtn {
          display: flex;
          flex-direction: column;
          font-size: 1vw;
          align-items: start;
          text-transform: uppercase;

          svg {
            transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
            will-change: transform;
          }

          &:hover {
            svg {
              transform: translate(335%);
            }
          }
        }
      }
    }
  }

  .right {
    flex-direction: row-reverse;

    .title {
      flex-direction: row-reverse;
    }

    .description {
      left: 2vw;
      transform: translateY(-50%);
      flex-direction: row;
    }

    .index {
      left: 43.3vw;
    }
  }
}
