* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  // POUR CORRIGER LE BUG AU USESCROLL DE FRAMER MOTION
  position: relative;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Urbanist";
  color: $White;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.2vw;
}

.hidden {
  overflow: hidden;
}

@media (max-width: 1024px) {
  p {
    font-size: 12px;
  }
}
