@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  position: relative;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Urbanist";
  color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.2vw;
}

.hidden {
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2vw;
  pointer-events: none;
}
nav .logoContainer,
nav .AboutBtn {
  pointer-events: all;
}
nav .logoContainer {
  width: 3.1vw;
}
nav .logoContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
nav .AboutBtn {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1vw;
  padding: 1vw;
}
nav .AboutBtn::before, nav .AboutBtn::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
  font-size: 1.1vw;
  will-change: transform;
}
nav .AboutBtn::before {
  content: "(";
  left: 0;
}
nav .AboutBtn::after {
  content: ")";
  right: 0;
}
nav .AboutBtn:hover {
  cursor: pointer;
}
nav .AboutBtn:hover::after {
  transform: translate(-100%, -50%);
  opacity: 1;
}
nav .AboutBtn:hover::before {
  opacity: 1;
  transform: translate(100%, -50%);
}

@media (max-width: 1024px) {
  nav {
    mix-blend-mode: normal;
    padding: 20px 5vw;
  }
  nav .logoContainer {
    width: 45px;
  }
  nav .AboutBtn,
  nav .AboutBtn::before,
  nav .AboutBtn::after {
    font-size: 16px;
  }
}
@media (max-width: 440px) {
  nav .AboutBtn::before, nav .AboutBtn::after {
    display: none;
  }
}
.Projet {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
.Projet:hover {
  cursor: pointer;
}
.Projet:nth-child(even) {
  flex-direction: row-reverse;
}
.Projet:nth-child(even) .title {
  flex-direction: row-reverse;
}
.Projet .titleContainer {
  display: flex;
  align-items: end;
  width: 50%;
  padding: 1vw 2vw;
}
.Projet .titleContainer .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Projet .titleContainer h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3vw;
}
.Projet .image {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Projet .image picture {
  width: 100%;
  height: 100%;
}
.Projet .image picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 1024px) {
  .Projet .titleContainer {
    padding: 20px 4vw;
    width: 100%;
  }
  .Projet .titleContainer .title {
    flex-direction: row-reverse;
    gap: 30px;
  }
  .Projet .titleContainer .title h1 {
    font-size: 5vw;
    text-align: center;
  }
  .Projet .image {
    position: absolute;
    z-index: -1;
    filter: brightness(0.6);
    width: 100%;
  }
}
@media (max-width: 440px) {
  .Projet .titleContainer .title h1 {
    font-size: 30px;
  }
}
.Background {
  background: linear-gradient(235deg, #0a0909, #212121);
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.Counter {
  position: fixed;
  z-index: 10000;
  bottom: 20px;
  left: 50%;
}
.Counter .number {
  font-size: 1vw;
}

@media (max-width: 1024px) {
  .Counter .number {
    font-size: 3vw;
  }
}
@media (max-width: 440px) {
  .Counter .number {
    font-size: 20px;
  }
}
.Loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: auto;
}
.Loader .content {
  will-change: transform;
}
.Loader .content .hidden {
  display: flex;
}
.Loader .content .hidden:nth-child(odd) {
  justify-content: end;
}
.Loader .content .hidden.rightTemplate:nth-child(odd) {
  justify-content: start;
}
.Loader .content .hidden.rightTemplate:nth-child(even) {
  justify-content: end;
}
.Loader .content .hidden .image {
  height: 100vh;
  width: 50%;
  -webkit-clip-path: polygon(12% 12%, 88% 12%, 88% 88%, 12% 88%);
          clip-path: polygon(12% 12%, 88% 12%, 88% 88%, 12% 88%);
}
.Loader .content .hidden .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transform: scale(0.77);
}

@media (max-width: 1024px) {
  .Loader .content .hidden .image {
    -webkit-clip-path: none;
            clip-path: none;
    width: 100%;
  }
  .Loader .content .hidden .image img {
    transform: scale(1);
  }
}
#Projet {
  height: 100vh;
}
#Projet .Projet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#Projet .Projet:hover {
  cursor: pointer;
}
#Projet .Projet .index {
  position: absolute;
  left: 52vw;
  top: 2.2vw;
  display: flex;
  gap: 0.3vw;
}
#Projet .Projet .index span {
  display: inline-block;
  font-size: 1vw;
  text-transform: uppercase;
}
#Projet .Projet .index span:nth-child(2) {
  color: rgba(255, 255, 255, 0.5019607843);
}
#Projet .Projet .description {
  position: absolute;
  top: 50%;
  left: 52vw;
  transform: translateY(-50%);
  width: 46%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#Projet .Projet .titleContainer .title {
  display: flex;
  align-items: center;
  position: relative;
}
#Projet .Projet .titleContainer .title .numberContainer {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
#Projet .Projet .titleContainer .title .siteBtn {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  align-items: start;
  text-transform: uppercase;
}
#Projet .Projet .titleContainer .title .siteBtn span {
  display: block;
}
#Projet .Projet .titleContainer .title .siteBtn svg {
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform;
}
#Projet .Projet .titleContainer .title .siteBtn:hover svg {
  transform: translate(335%);
}
#Projet .right {
  flex-direction: row-reverse;
}
#Projet .right .title {
  flex-direction: row-reverse;
}
#Projet .right .title .numberContainer {
  left: auto !important;
  right: 0;
}
#Projet .right .description {
  left: 2vw;
  transform: translateY(-50%);
  flex-direction: row;
}
#Projet .right .index {
  left: 43.3vw;
}

@media (max-width: 1024px) {
  #Projet .Projet {
    display: flex;
    flex-direction: column-reverse;
  }
  #Projet .Projet .index {
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
  }
  #Projet .Projet .index span {
    font-size: 16px;
  }
  #Projet .Projet .titleContainer .title .siteBtn {
    font-size: 2vw;
  }
  #Projet .Projet .titleContainer .title .numberContainer {
    left: auto !important;
    right: 0;
  }
  #Projet .Projet .description {
    width: 100%;
    top: 45vh;
    left: 0;
    padding: 0 5vw;
  }
  #Projet .Projet .description p {
    font-size: 2.5vw;
  }
}
@media (max-width: 440px) {
  #Projet .Projet .titleContainer .title {
    gap: 0;
  }
  #Projet .Projet .titleContainer .title .siteBtn {
    font-size: 12px;
  }
  #Projet .Projet .description p {
    font-size: 18px;
  }
}
#Apropos {
  height: 100vh;
}
#Apropos:hover {
  cursor: pointer;
}
#Apropos .descriptionContainer {
  position: fixed;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 30px 2vw 0 36%;
}
#Apropos .descriptionContainer p {
  font-size: 1.5vw;
}
#Apropos .contactContainer {
  position: fixed;
  left: 36%;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 62%;
}
#Apropos .contactContainer .left {
  display: flex;
  gap: 2vw;
}
#Apropos .contactContainer .left a {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-size: 1.1vw;
  padding: 1vw;
}
#Apropos .contactContainer .left a::before, #Apropos .contactContainer .left a::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
  font-size: 1.1vw;
  will-change: transform;
}
#Apropos .contactContainer .left a::before, #Apropos .contactContainer .left a::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
  font-size: 1.1vw;
  will-change: transform;
}
#Apropos .contactContainer .left a::before {
  content: "(";
  left: 0;
}
#Apropos .contactContainer .left a::after {
  content: ")";
  right: 0;
}
#Apropos .contactContainer .left a:hover {
  cursor: pointer;
}
#Apropos .contactContainer .left a:hover::after {
  transform: translate(-100%, -50%);
  opacity: 1;
}
#Apropos .contactContainer .left a:hover::before {
  opacity: 1;
  transform: translate(100%, -50%);
}

@media (max-width: 1024px) {
  #Apropos p,
  #Apropos .descriptionContainer p,
  #Apropos .contactContainer .left a,
  #Apropos .contactContainer .left a::before,
  #Apropos .contactContainer .left a::after {
    font-size: 3vw;
  }
  #Apropos .descriptionContainer {
    top: 15vh;
    padding: 0 2vw 0 5vw;
  }
  #Apropos .contactContainer {
    left: 5vw;
    width: 90%;
  }
  #Apropos .contactContainer .left a {
    padding: 3vw;
  }
}
@media (max-width: 440px) {
  #Apropos .descriptionContainer p {
    font-size: 20px;
  }
  #Apropos p,
  #Apropos .contactContainer .left a {
    font-size: 18px;
  }
  #Apropos .contactContainer .left a::before,
  #Apropos .contactContainer .left a::after {
    display: none;
  }
  #Apropos .descriptionContainer {
    padding: 0 5vw;
  }
  #Apropos .contactContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    left: 5vw;
    width: 90%;
  }
  #Apropos .contactContainer .left {
    flex-direction: column;
  }
  #Apropos .contactContainer .left a {
    padding: 0;
  }
}
.Cursor {
  position: fixed;
  mix-blend-mode: difference;
  z-index: 6;
  text-transform: uppercase;
  pointer-events: none;
  padding: 20px;
  transition: opacity 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}
.Cursor p {
  position: relative;
  font-size: 0.9vw;
  transition: opacity 0.3s;
}
.Cursor p::after {
  content: "open";
  position: absolute;
  bottom: 100%;
  left: 0;
}

@media (max-width: 1024px) {
  .Cursor {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */