@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  position: relative;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Urbanist";
  color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1.2vw;
}

.hidden {
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2vw;
  pointer-events: none;
}
nav .logoContainer,
nav .AboutBtn {
  pointer-events: all;
}
nav .logoContainer {
  width: 3.1vw;
}
nav .logoContainer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
nav .AboutBtn {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1vw;
  padding: 1vw;
}
nav .AboutBtn::before, nav .AboutBtn::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
  font-size: 1.1vw;
  will-change: transform;
}
nav .AboutBtn::before {
  content: "(";
  left: 0;
}
nav .AboutBtn::after {
  content: ")";
  right: 0;
}
nav .AboutBtn:hover {
  cursor: pointer;
}
nav .AboutBtn:hover::after {
  transform: translate(-100%, -50%);
  opacity: 1;
}
nav .AboutBtn:hover::before {
  opacity: 1;
  transform: translate(100%, -50%);
}

.Projet {
  position: relative;
  display: flex;
}
.Projet:hover {
  cursor: pointer;
}
.Projet:nth-child(even) {
  flex-direction: row-reverse;
}
.Projet:nth-child(even) .title {
  flex-direction: row-reverse;
}
.Projet .titleContainer {
  display: flex;
  align-items: end;
  width: 50%;
  padding: 1vw 2vw;
}
.Projet .titleContainer .title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.Projet .titleContainer h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3vw;
}
.Projet .image {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Projet .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.Background {
  background: linear-gradient(235deg, #0a0909, #212121);
  position: fixed;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

#Projet .Projet:hover {
  cursor: pointer;
}
#Projet .Projet .index {
  position: absolute;
  left: 52vw;
  top: 2.2vw;
  display: flex;
  gap: 0.3vw;
}
#Projet .Projet .index span {
  display: inline-block;
  font-size: 1vw;
  text-transform: uppercase;
}
#Projet .Projet .index span:nth-child(2) {
  color: rgba(255, 255, 255, 0.5019607843);
}
#Projet .Projet .description {
  position: absolute;
  top: 50%;
  left: 52vw;
  transform: translateY(-50%);
  width: 46%;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
#Projet .Projet .titleContainer .title {
  display: flex;
  align-items: center;
  position: relative;
}
#Projet .Projet .titleContainer .title .numberContainer {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
#Projet .Projet .titleContainer .title .siteBtn {
  display: flex;
  flex-direction: column;
  font-size: 1vw;
  align-items: start;
  text-transform: uppercase;
}
#Projet .Projet .titleContainer .title .siteBtn span {
  display: block;
}
#Projet .Projet .titleContainer .title .siteBtn svg {
  transition: transform 0.5s cubic-bezier(0.65, 0, 0.35, 1);
  will-change: transform;
}
#Projet .Projet .titleContainer .title .siteBtn:hover svg {
  transform: translate(335%);
}
#Projet .right {
  flex-direction: row-reverse;
}
#Projet .right .title {
  flex-direction: row-reverse;
}
#Projet .right .title .numberContainer {
  left: auto !important;
  right: 0;
}
#Projet .right .description {
  left: 2vw;
  transform: translateY(-50%);
  flex-direction: row;
}
#Projet .right .index {
  left: 43.3vw;
}

#Apropos {
  height: 100vh;
}
#Apropos:hover {
  cursor: pointer;
}
#Apropos .descriptionContainer {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 30px 2vw 0 36%;
}
#Apropos .descriptionContainer p {
  font-size: 1.5vw;
}
#Apropos .contactContainer {
  position: absolute;
  left: 36%;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 62%;
}
#Apropos .contactContainer .left {
  display: flex;
  gap: 2vw;
}
#Apropos .contactContainer .left a {
  position: relative;
  z-index: 5;
  text-transform: uppercase;
  font-size: 1.1vw;
  padding: 1vw;
}
#Apropos .contactContainer .left a::before, #Apropos .contactContainer .left a::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
  font-size: 1.1vw;
  will-change: transform;
}
#Apropos .contactContainer .left a::before, #Apropos .contactContainer .left a::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: 0.3s;
  font-size: 1.1vw;
  will-change: transform;
}
#Apropos .contactContainer .left a::before {
  content: "(";
  left: 0;
}
#Apropos .contactContainer .left a::after {
  content: ")";
  right: 0;
}
#Apropos .contactContainer .left a:hover {
  cursor: pointer;
}
#Apropos .contactContainer .left a:hover::after {
  transform: translate(-100%, -50%);
  opacity: 1;
}
#Apropos .contactContainer .left a:hover::before {
  opacity: 1;
  transform: translate(100%, -50%);
}

.Cursor {
  position: absolute;
  mix-blend-mode: difference;
  z-index: 6;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */