.Counter {
  position: fixed;
  z-index: 10000;
  bottom: 20px;
  left: 50%;
  .number {
    font-size: 1vw;
  }
}

@media (max-width: 1024px) {
  .Counter {
    .number {
      font-size: 3vw;
    }
  }
}
@media (max-width: 440px) {
  .Counter {
    .number {
      font-size: 20px;
    }
  }
}
