.Loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: auto;

  .content {
    will-change: transform;
    .hidden {
      display: flex;

      &:nth-child(odd) {
        justify-content: end;
      }

      &.rightTemplate {
        &:nth-child(odd) {
          justify-content: start;
        }
        &:nth-child(even) {
          justify-content: end;
        }
      }

      .image {
        height: 100dvh;
        width: 50%;
        clip-path: polygon(12% 12%, 88% 12%, 88% 88%, 12% 88%);

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
          transform: scale(0.77);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .Loader {
    .content {
      .hidden {
        .image {
          clip-path: none;
          width: 100%;

          img {
            transform: scale(1);
          }
        }
      }
    }
  }
}
