.Projet {
  position: relative;
  display: flex;

  &:hover {
    cursor: pointer;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .titleContainer {
      flex-direction: row-reverse;
    }
  }

  .titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 50%;
    padding: 1vw 2vw;

    h1 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 3vw;
    }
  }

  .image {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.right {
  flex-direction: row-reverse;
  .titleContainer {
    flex-direction: row-reverse;
  }
}
